<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%=subreddit %>
        </title>
        <!-- 서버에 요청이 있을때마다 정적 폴더 public을 제공해주기 때문에, 경로를 적지 않아도 콘텐츠에 접근 가능 -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js" defer></script>
    </head>
    <body>
        <h1> This is <%= subreddit %> Page!!
        </h1>
        <h2><%= description %></h2>
        <p> Total Subscribers : <%= subscribers %>
        </p>
        <hr>
        <% for(let post of posts){ %>
        <article>
            <h3>
                <%= post.title %> - <%= post.author %>
            </h3>
            <% if (post.img) { %>
            <img src="<%= post.img %> " alt="">
            <% } %>
        </article>
        <% } %>
        <h1> my name </h1>
    </body>
</html>