<%- include('partial/head.ejs') %>


<%- include('partial/nav.ejs') %>
<!-- 실제 템플릿(렌더링 되는 화면)에 추가되지는 않지만 , js 처럼 제어문, 반복문 사용 가능 -->
<h1> your random number is <%= num %></h1>
<h2> This Number is <%= num % 2===0 ? 'EVEN' : 'ODD' %> </h2>
<%- include('partial/footer.ejs') %>