<% layout('layouts/boilerplate') %>
<h1>Gym List</h1>
<a href="/gymlist/new">
    <button>Create New Gym!</button>
</a>
<ul>
    <% gyms.forEach((gym) => { %> 
        <div class="card">
            <div class="row">
                <div class="col">
                  <img class="img-fluid" src="<%= gym.image %> " alt="">
                </div>
                <div class="col mt-3">
                  <div class="card-body">
                      <h5 class="card-title">
                          <%= gym.title %> 
                      </h5>
                      <h5 class="card-text">
                          <%= gym.description %> 
                      </h5>
                      <p class="card-text">
                          <small class="text-muted">
                              <%= gym.location %> 
                          </small>
                      </p>
                      <a href="/gymlist/<%= gym._id %>">
                          <button class="btn btn-primary">View <%= gym.title %> </button>
                      </a>
                  </div>
                </div>
            </div>
        </div>
    <% }) %>   
</ul>
